backend/appointment-0-0-1.db
backend/appointment-0-0-0.db
backend/appointment-0-0-2.db
backend/appointment.db
backend/routers/__pycache__/
backend/db_backup_checkpoint_28.05.2024
backend/playground.py

backend/__pycache__/main.cpython-311.pyc
backend/__pycache__/models.cpython-311.pyc
backend/routers/__pycache__/router_utils.cpython-311.pyc
backend/routers/__pycache__/user_employee.cpython-311.pyc
backend/schemas/__pycache__/event.cpython-311.pyc
backend/schemas/__pycache__/process.cpython-311.pyc

backend/__pycache__/database.cpython-312.pyc
backend/__pycache__/main.cpython-312.pyc
backend/__pycache__/models.cpython-312.pyc
backend/schemas/__pycache__/auth.cpython-312.pyc
backend/schemas/__pycache__/base.cpython-312.pyc
backend/schemas/__pycache__/branch.cpython-312.pyc
backend/schemas/__pycache__/department.cpython-312.pyc
backend/schemas/__pycache__/employee.cpython-312.pyc
backend/schemas/__pycache__/employment_type.cpython-312.pyc
backend/schemas/__pycache__/event.cpython-312.pyc
backend/schemas/__pycache__/process.cpython-312.pyc
backend/schemas/__pycache__/process_price.cpython-312.pyc
backend/schemas/__pycache__/user.cpython-312.pyc
backend/schemas/__pycache__/user_employee.cpython-312.pyc
backend/schemas/__pycache__/customer.cpython-311.pyc
